@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "All books";
}
@model IEnumerable<JokesWebApp.Models.BookModel>

<div class="container">

    <h2>All Books</h2>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-sm">

                <partial name="_BookThumbnail" model="@book" />

            </div>
        }
    </div>
</div>