@model  IEnumerable<BookModel>

<div class="row">

    @foreach (var book in Model)
    {
        <div class="col-sm">
            @*<partial name="_BookThumbnail" model="new BookModel()" />*@
            <vc:top-books count="4"></vc:top-books>
        </div>
    }

    <div class="col-sm">
            @*<partial name="_BookThumbnail" model="new BookModel()" />*@
            @Html.Partial("_BookThumbnail", new BookModel())
        </div>

        <div class="col-sm">
            @*<partial name="_BookThumbnail" model="new BookModel()"/>*@
            @await Html.PartialAsync("_BookThumbnail", new BookModel())
        </div>

        <div class="col-sm">
            @*<partial name="_BookThumbnail" model="new BookModel()"/>*@
            @{
                await Html.RenderPartialAsync("_BookThumbnail", new BookModel());
            }
        </div>


        <div class="col-sm">
            <partial name="_BookThumbnail" model="new BookModel()" />
        </div>
</div>